@import url(http://fonts.googleapis.com/css?family=Roboto:300);

object[type^="application/gas"] { display: none; }

@media (max-width: 768px) {
	header .profile .title {
    font-size: 50px !important;
	}
}

body {
	background: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

hr {
  border-top: 1px dotted #999;
}

h1{
	text-align: center;
	font-weight: 300;
}

header {
	background: #000 url('../img/header.jpg') no-repeat center;
	z-index: 10;
}

header .profile {
	padding-top: 10px;
	padding-bottom: 60px;
	text-align: center;
	color: #fff;
}
header .profile .title {
	margin: 0px;
	font-size: 60px;
  font-weight: bold;
}

header .profile .subtitle {
  font-size: 17px;
  font-style: italic;
}

header .profile .arrow-down{
	position: absolute;
	top: 10px;
}

header .menu {
	padding-top: 15px;
}
header .menu img {
	padding-bottom: 20px;
}

header .menu img {
	padding-left: 10px;
}

header .menu a {
	color: #fff;
	font-size: 18px;
  padding: 5px 20px;
  border: #fff 1px solid;
}

header .menu a:hover {
	text-decoration: none;
	background: #fff;
	color: #000;
}

.about {
	padding-top: 30px;
	padding-bottom: 20px;
}
.about p {
	font-size: 16px;
}

.skills {
	padding-top: 10px;
	padding-bottom: 30px;
}
.skills .chips div{
	float: left;
	background: #e0e0e0;
	border-radius: 15px;
	margin: 5px;
	padding: 5px 10px;
	font-size: 16px;
}

.skills .chips div:hover{
	background: #ccc;
	cursor: default;
}

.projects {
	padding-top: 10px;
	padding-bottom: 40px;
}

.projects .project {
	padding-bottom: 10px;
}

.projects .project .img {
	background: #000;
	height: 150px;
	padding: 0px 5px;
}

.projects .project .title {
	text-align: center;
}

footer .social {
	background: #212121;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
}

footer .social .mail, footer .social a {
	color: #777;
}

footer .social .media {
	text-align: center;
  padding-bottom: 20px;
}

footer .social .media img {
	max-height: 12vh;
}

footer .social .media a:hover img {
	opacity: 0.5;
}

footer .copyright {
	background: #000;
	color: #777;
	padding: 10px 0px;
	text-align: center;
}
